@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);

html { height: 100%; }

*,
*:after,
*:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	font-family: 'Lato', Calibri, Arial, sans-serif;
	background: #fff;
	font-weight: 400;
	font-size: 100%;
	color: #333;
	height: 100%;
}

.js body {
	overflow: hidden;
}

a {
	color: #555;
	text-decoration: none;
	outline: none;
}

a:hover {
	color: #000;
}

.container,
.bb-bookblock {
	width: 100%;
	height: 100%;
}

.bb-custom-wrapper {
	height : 100%;
	margin-left : 60px;
}

.container {
	position: relative;
	left: 0px;
	-webkit-transition: left 0.3s ease-in-out;
	-o-transition: left 0.3s ease-in-out;
	transition: left 0.3s ease-in-out;
}

.slideRight {
	left: 240px;
}

.no-js .container {
	padding-left: 240px;
}

.menu-panel {
	background: #efefef;
	width: 240px;
	height: 100%;
	position: fixed;
	z-index: 1000;
	top: 0;
	left: 0;
	text-shadow: 0 1px 1px rgba(0,0,0,0.1);
	border-right : 1px solid #afafaf;
	overflow: hidden;
}

.js .menu-panel {
	position: absolute;
	left: -240px;
}

.menu-panel h3 {
	font-size: 1.8em;
	padding: 20px;
	font-weight: 300;
	color: #000;
	box-shadow: inset 0 -1px 0 rgba(0,0,0,0.05);
} 

.menu-toc {
	list-style: none;
	height : 75%;
}

.menu-toc img{
	margin-right : 10px;
}

.menu-toc li a {
	display: block;
	color: #000;
	font-size: 1em;
	line-height: 3.5;
	padding: 0 20px;
	cursor: pointer;
	background: #efefef;
	border-bottom: 1px solid #aaa;
}

.menu-toc li a:hover,
.menu-toc li.menu-toc-current a{
	background: #fff;
}


.menu-panel .bottom a {
	text-transform: uppercase;
	font-size: 0.7em;
	line-height: 1;
	padding: 5px 20px;
	display: block;
	border: none;
	color: #aaa;
	letter-spacing: 1px;
	font-weight: 800;
	text-shadow: 0 1px rgba(255,255,255,0.2);
} 

.menu-panel .bottom div a:hover {
	background: inherit;
	color: #fff;
	text-shadow: none;
}

.bb-custom-wrapper .search-nav {
	position: absolute;
	top: 25px;
	right : 25px;
	z-index: 1000;
}

.bb-custom-wrapper .search-nav #search-input{
	height : 24px;
	width : 200px;
	vertical-align : middle;
	padding-left : 10px;
	border-radius : 5px;
}

.bb-custom-wrapper .search-nav .button{
	height : 30px;
	vertical-align : middle;
}

.bb-custom-wrapper nav {
	width : 100%;
}

.bb-custom-wrapper nav .right {
	position: absolute;
	top: 50%;
	right : 0px;
	z-index: 1000;
}

.bb-custom-wrapper nav .left {
	top: 50%;
	position: absolute;
	z-index: 1000;
}


.bb-custom-wrapper nav div{
	width: 32px;
	height: 32px;
	background: #44d1ff;
	color: #fff;
	line-height: 30px;
	text-align: center;
	speak: none;
	font-weight: bold;
	cursor: pointer;
	vertical-align : middle;
}

.bb-custom-wrapper nav span,
.menu-button {
	width: 40px;
	height: 40px;
	margin : 5px;
	color: #333;
	line-height: 30px;
	speak: none;
	font-weight: bold;
	text-align: center;
	vertical-align : middle;
	cursor: pointer;
	font-size : 1.5em;
	padding-top : 3px;
}

.bb-custom-wrapper nav span:hover,
.menu-button:hover {
	background: #888;
	border-radius: 10%;
}

.bb-custom-wrapper nav span:last-child {
	left: 40px;
}

.no-js .bb-custom-wrapper nav span,
.no-js .menu-button {
	display: none;
}

.js .header {
	position: absolute;
	top: 0px;
	left: 0;
	width: 100%;
	height : 100px;
	overflow: hidden;
	text-align : center;
	padding-top : 10px;
	border-bottom : 5px solid #000;
	vertical-align : bottom;
	line-height: 100px;
}

.js .header h1 {
	color : black;
}

footer {
	position: absolute;
	bottom: 0px;
	left: 0;
	width: 100%;
	height : 35px;
	overflow: hidden;
	text-align : right;
	padding-right : 10px;
	vertical-align : bottom;
	z-index : 2000;
	font-size : 0.75em;
}

.js .content {
	position: absolute;
	top: 60px;
	left: 0;
	width: 100%;
	bottom: 50px;
	overflow: hidden;
	margin-left : 50px;
	margin-right : 50px;
}

.js .content1 {
	position: absolute;
	top: 100px;
	left: 0;
	width: 100%;
	bottom: 50px;
	overflow: hidden;
	margin-left : 50px;
	margin-right : 50px;
	margin-top : 20px;
}

.js .content2 {
	position: absolute;
	top: 0px;
	left: 0;
	width: 70%;
	bottom: 50px;
	overflow: hidden;
	margin-left : 50px;
	margin-right : 50px;
	margin-top : 20px;
}

.js .qa {
	position: absolute;
	top : 100px;
	right : 5%;
	background-color : #eee;
	border-radius : 10px;
	padding : 20px;
}

.js .content2 p {
	margin-bottom : 10px;
	font-weight : 300;
	text-align : justify;
}

.js .content2 h2 {
	font-weight: 100;
	font-size: 2em;
	padding: 0 0 10px;
	text-align: left;
	text-shadow: 0 0 2px #fff;
}

.js .news_list {
	display: inline;
	margin-left : 10%;
}

.js .news_list .news {
	display : block;	
	width : 18.5%;
	float : left;
	border-right : 1px solid #111;
	height : 100%;
	padding : 10px;
}

.js .news_list .news p {
	font-size : 0.75em;
}

.js .news_list .news-last {
	border-right : 0px solid #111;
}

.js .news_list .news img{
	width : 100%;
}

.js .news_list .news .list{
	width : 100%;
	text-align : right;
	margin-top : 30px;
}

.js .news_list .news .list .list-item{
	margin-bottom : 10px;
}

.js .news_list .news .list .list-item img{
	width : 22px;
	height : 18px;
	vertical-align : middle;
}

.js .trend {
	width : 45%;
	float : left;
	background-color : rgba(0, 0, 0, 0.25);
	padding : 10px;
	margin-right : 10px;
	border-radius : 10px;
}

.js .trend .trend-item{
	color : #fff;
	font-weight : bold;
	margin-bottom : 10px;
	width: 100%;
}

.js .trend p{
	padding-left : 0;
	margin-left : 0;
}

.js .trend a{
	color : blue;
}

.home {
	color : #fff;
}

.scroller {
	padding: 10px 5% 10px 5%;
}

.js .content:before,
.js .content:after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 20px;
	z-index: 100;
}

.js .content:after {
	top: auto;
	bottom: 0;
}

.content h2 {
	font-weight: 100;
	font-size: 2em;
	padding: 0 0 10px;
	color: #fff;
	text-align: left;
	text-shadow: 0 0 2px #fff;
}

.content h1 {
	font-weight: 100;
	font-size: 4em;
	padding: 0 0 10px;
	color: #fff;
	text-align: left;
	text-shadow: 0 0 2px #fff;
}

.no-js .content h2 {
	padding: 40px 1% 20px;
}

.content p {
	font-size: 1.2em;
	line-height: 1.6;
	font-weight: 300;
	padding: 5px 8%;
	text-align: justify;
}

@media screen and (max-width: 800px){
	.no-js .menu-panel {
		display: none;
	}

	.no-js .container {
		padding: 0;
	}
}

@media screen and (max-width: 400px){
	.menu-panel,
	.content {
		font-size: 75%;
	}
}

#bg {
  position: fixed; 
  top: -50%; 
  left: -50%; 
  width: 200%; 
  height: 200%;
}

#bg img {
  position: absolute; 
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0; 
  margin: auto; 
  min-width: 50%;
  min-height: 50%;
}

.bb-custom-wrapper .side-nav {
	position : absolute;
	top : 0;
	left : 0;
	z-index : 1000;
	width : 60px;
	height : 100%;
	background-color : #eee;
	text-align : center;
	padding-top : 10px;
}

.bb-custom-wrapper .side-nav hr {
	width : 80%;
	border : none;
	border-bottom : 1px solid #aaa;
	margin-left : auto;
	margin-right : auto;
	margin-top : 10px;
	margin-bottom : 10px;
}

.bb-custom-wrapper .side-nav .menu-item {
	width: 100%;
	height: 40px;
	color: #444;
	line-height: 30px;
	speak: none;
	font-weight: bold;
	text-align: center;
	vertical-align : middle;
	cursor: pointer;
	font-size : 1.5em;
	padding-top : 3px;
}

abbr{
	border-bottom-width: 0;
}

.bb-custom-wrapper .side-nav .menu-item  img{
	vertical-align : middle;
}

.bb-custom-wrapper .side-nav .menu-item:hover {
	background: #ddd;
}

.bb-custom-wrapper .side-nav .active {
	background: #fff;
}

.popper {
	cursor:pointer;
}