.popbox {
    display: none;
    position: absolute;
    z-index: 99999;
    padding: 10px;
    background: #efefef;
    color: #000000;
    border: 1px solid #4D4F53;
	border-radius : 10px;
    margin: 0px;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(164, 164, 164, 1);
    box-shadow: 0px 0px 5px 0px rgba(164, 164, 164, 1);
	width : 200px;
}

.popbox h2
{
    background-color: #4D4F53;
    color:  #E3E5DD;
    font-size: 14px;
    display: block;
    width: 100%;
    margin: -10px 0px 8px -10px;
    padding: 5px 10px;
}